.public {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;

  .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px 20px;
    margin-top: 20px;
    width: 80%;

    .top {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: -250px;

      .logoutBtn {
        cursor: pointer;
        border: none;
        background-color: crimson;
        color: white;
        font-size: 14px;
        transition: all 0.5s ease;
        padding: 10px;
        border-radius: 5px;

        &:hover {
          transform: scale(1.03);
        }
      }
    }

    .info {
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .username {
        font-size: 30px;
        font-weight: bold;
        color: green;
      }

      p {
        font-size: 18px;
      }
    }

    .table {
      overflow-x: auto;
      width: 100%;

      table {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid gray;

        thead {
          background-color: green;
          color: white;

          tr {
            th {
              text-align: left;
              padding: 12px;
            }

            &:nth-child(even) {
              background-color: #f2f2f2;
            }
          }
        }

        tbody {
          tr {
            td {
              text-align: left;
              padding: 12px;

              a {
                button {
                  cursor: pointer;

                  &:disabled {
                    cursor: not-allowed;
                  }
                }
              }
            }

            &:nth-child(even) {
              background-color: #f2f2f2;
            }

            &:hover:nth-child(even) {
              background-color: rgba(0, 128, 0, 0.19);
            }
          }
        }
      }
    }
  }
}
